<header class="header">
  <ul>
    <li><a class="navbar-link" href="#work"> work </a></li>
    <li><a class="navbar-link" href="#about"> about</a></li>
    <li><a class="navbar-link" href="#contact">contact </a></li>
  </ul>
  <h2 class="header-title">Pedro Souza</h2>
  <div class="header-medias">
    <a href="https://www.linkedin.com">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a>
    <a href="https://www.github.com">
      <ion-icon name="logo-github"></ion-icon>
    </a>
  </div>
</header>
